<!DOCTYPE html>
<html>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<!-- /Added by HTTrack -->

<head>

    <link rel="stylesheet" type="text/css" href="~/projecss/cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/projecss/cdn.jsdelivr.net/gh/fancyapps/fancybox%403.5.7/dist/jquery.fancybox.min.css" />
    
   

    <style>
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='wp-block-library-css' href='~/projecss/wp-includes/css/dist/block-library/style.mine23c.css?ver=5.7' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='~/projecss/wp-content/plugins/contact-form-7/includes/css/styles9dff.css?ver=5.3.2' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-pagenavi-css' href='~/projecss/wp-content/plugins/wp-pagenavi/pagenavi-css44fd.css?ver=2.70' type='text/css' media='all' />
    <link rel='stylesheet' id='triatlon-style-css' href='~/projecss/wp-content/themes/triatlon/style8a54.css?ver=1.0.0' type='text/css' media='all' />
    <link rel='stylesheet' id='triatlon-all_styleCSS-css' href='~/projecss/wp-content/themes/triatlon/css/all_style.css' type='text/css' media='all' />
    <script src='../wp-includes/js/jquery/jquery.min9d52.js?ver=3.5.1' id='jquery-core-js'></script>
    <script src='../wp-includes/js/jquery/jquery-migrate.mind617.js?ver=3.3.2' id='jquery-migrate-js'></script>
    <!-- OG: 2.8.9 -->
   
    <style>
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }</style>
    <meta name="redi-version" content="1.0.9" />
    <link rel="icon" href="../wp-content/uploads/2021/02/cropped-fav_icon_2-2-32x32.png" sizes="32x32" />
    <link rel="icon" href="../wp-content/uploads/2021/02/cropped-fav_icon_2-2-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="../wp-content/uploads/2021/02/cropped-fav_icon_2-2-180x180.png" />


    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--metatextblock-->
    <title>TriStarTriathlon</title>
    <meta name="description" content="Онлайн сервис для планирования подготовки по триатлону" />
    <meta property="og:url" content="index.html">
    <meta property="og:title" content="TriStarTriathlon" />
    <meta property="og:description" content="Онлайн сервис для планирования подготовки по триатлону" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="~/projecss/static.tildacdn.com/tild3931-6133-4134-a563-313734613930/OG2.jpg" />
    <link rel="canonical" href="index.html">
    <!--/metatextblock-->
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="https://ws.tildacdn.com/">
    <link rel="dns-prefetch" href="https://static.tildacdn.com/">
    <link rel="shortcut icon" href="~/projecss/static.tildacdn.com/tild3264-3539-4834-b832-643562356232/fav.png" type="image/x-icon" />
    <!-- Assets -->
    <script src="~/projecss/neo.tildacdn.com/js/tilda-fallback-1.0.min.js" async charset="utf-8"></script>
    <link rel="stylesheet" href="~/projecss/static.tildacdn.com/css/tilda-grid-3.0.min.css" type="text/css" media="all" onerror="this.loaderr='y';" />
    <link rel="stylesheet" href="~/projecss/static.tildacdn.com/ws/project2450836/tilda-blocks-page44475637.mincb21.css?t=1716217020" type="text/css" media="all" onerror="this.loaderr='y';" />
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@@300;400;500;700&amp;subset=latin,cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="~/projecss/static.tildacdn.com/css/tilda-animation-2.0.min.css" type="text/css" media="all" onerror="this.loaderr='y';" />
    <link rel="stylesheet" href="~/projecss/static.tildacdn.com/css/tilda-popup-1.1.min.css" type="text/css" media="print" onload="this.media='all';" onerror="this.loaderr='y';" />
    <noscript>
        <link rel="stylesheet" href="~/projecss/static.tildacdn.com/css/tilda-popup-1.1.min.css" type="text/css" media="all" />
    </noscript>
    <link rel="stylesheet" href="~/projecss/static.tildacdn.com/css/tilda-forms-1.0.min.css" type="text/css" media="all" onerror="this.loaderr='y';" />
    <script nomodule src="~/projecss/static.tildacdn.com/js/tilda-polyfill-1.0.min.js" charset="utf-8"></script>
    <script type="text/javascript">
        function t_onReady(func) {
            if (document.readyState != 'loading') {
                func();
            } else {
                document.addEventListener('DOMContentLoaded', func);
            }
        }
        function t_onFuncLoad(funcName, okFunc, time) {
            if (typeof window[funcName] === 'function') {
                okFunc();
            } else {
                setTimeout(function () {
                    t_onFuncLoad(funcName, okFunc, time);
                }, (time || 100));
            }
        } function t396_initialScale(t) { t = document.getElementById("rec" + t); if (t) { t = t.querySelector(".t396__artboard"); if (t) { var e, r = document.documentElement.clientWidth, a = []; if (l = t.getAttribute("data-artboard-screens")) for (var l = l.split(","), i = 0; i < l.length; i++)a[i] = parseInt(l[i], 10); else a = [320, 480, 640, 960, 1200]; for (i = 0; i < a.length; i++) { var o = a[i]; o <= r && (e = o) } var n = "edit" === window.allrecords.getAttribute("data-tilda-mode"), d = "center" === t396_getFieldValue(t, "valign", e, a), u = "grid" === t396_getFieldValue(t, "upscale", e, a), c = t396_getFieldValue(t, "height_vh", e, a), g = t396_getFieldValue(t, "height", e, a), s = !!window.opr && !!window.opr.addons || !!window.opera || -1 !== navigator.userAgent.indexOf("OPR/index.html"); if (!n && d && !u && !c && g && !s) { for (var _ = parseFloat((r / e).toFixed(3)), f = [t, t.querySelector(".t396__carrier"), t.querySelector(".t396__filter")], i = 0; i < f.length; i++)f[i].style.height = Math.floor(parseInt(g, 10) * _) + "px"; t396_scaleInitial__getElementsToScale(t).forEach(function (t) { t.style.zoom = _ }) } } } } function t396_scaleInitial__getElementsToScale(t) { t = Array.prototype.slice.call(t.querySelectorAll(".t396__elem")); if (!t.length) return []; var e = []; return (t = t.filter(function (t) { t = t.closest('.t396__group[data-group-type-value="physical"]'); return !t || (-1 === e.indexOf(t) && e.push(t), !1) })).concat(e) } function t396_getFieldValue(t, e, r, a) { var l = a[a.length - 1], i = r === l ? t.getAttribute("data-artboard-" + e) : t.getAttribute("data-artboard-" + e + "-res-" + r); if (!i) for (var o = 0; o < a.length; o++) { var n = a[o]; if (!(n <= r) && (i = n === l ? t.getAttribute("data-artboard-" + e) : t.getAttribute("data-artboard-" + e + "-res-" + n))) break } return i }
    </script>
    <script src="~/projecss/static.tildacdn.com/js/jquery-1.10.2.min.js" charset="utf-8" onerror="this.loaderr='y';"></script>
    <script src="~/projecss/static.tildacdn.com/js/tilda-scripts-3.0.min.js" charset="utf-8" defer onerror="this.loaderr='y';"></script>
    <script src="~/projecss/static.tildacdn.com/ws/project2450836/tilda-blocks-page44475637.mincb21.js?t=1716217020" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="~/projecss/static.tildacdn.com/js/tilda-lazyload-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="~/projecss/static.tildacdn.com/js/tilda-animation-2.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="~/projecss/static.tildacdn.com/js/tilda-zero-1.1.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="~/projecss/static.tildacdn.com/js/tilda-popup-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="~/projecss/static.tildacdn.com/js/tilda-forms-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="~/projecss/static.tildacdn.com/js/tilda-zero-forms-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="~/projecss/static.tildacdn.com/js/tilda-animation-sbs-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="~/projecss/static.tildacdn.com/js/tilda-zero-scale-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="~/projecss/static.tildacdn.com/js/tilda-events-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-199327643-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-199327643-1');
    </script>
    <meta name="facebook-domain-verification" content="z0z45xnmcfb6sf8wnzktyacpwj429w" />
    <script type="text/javascript">window.dataLayer = window.dataLayer || [];</script><!-- Google Tag Manager -->
    <script type="text/javascript">
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MRCMTJZ');
    </script><!-- End Google Tag Manager --><!-- Facebook Pixel Code -->
    <script type="text/javascript" data-tilda-cookie-type="advertising">
        setTimeout(function () {
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return; n = f.fbq = function () { n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments) };
                if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0'; n.agent = 'pltilda';
                n.queue = []; t = b.createElement(e); t.async = !0;
                t.src = v; s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script', '../connect.facebook.net/en_US/fbevents.js');
            fbq('init', '697085437621590');
            fbq('track', 'PageView');
        }, 2000);
    </script><!-- End Facebook Pixel Code --><!-- VK Pixel Code -->
    <script type="text/javascript" data-tilda-cookie-type="advertising">
        setTimeout(function () {
            !function () { var t = document.createElement("script"); t.type = "text/javascript", t.async = !0, t.src = "../vk.com/dist/public/api/openapi.318ba3d5a50b8d6990cb0284cb0e0963bd4c.js?161", t.onload = function () { VK.Retargeting.Init("VK-RTRG-833158-8v84w"), VK.Retargeting.Hit() }, document.head.appendChild(t) }();
        }, 2000);
    </script><!-- End VK Pixel Code -->
    <script type="text/javascript">
        (function () {
            if ((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent)) === false && typeof (sessionStorage) != 'undefined' && sessionStorage.getItem('visited') !== 'y' && document.visibilityState) {
                var style = document.createElement('style');
                style.type = 'text/css';
                style.innerHTML = '@@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';
                document.getElementsByTagName('head')[0].appendChild(style);
                function t_setvisRecs() {
                    var alr = document.querySelectorAll('.t-records');
                    Array.prototype.forEach.call(alr, function (el) {
                        el.classList.add("t-records_animated");
                    });
                    setTimeout(function () {
                        Array.prototype.forEach.call(alr, function (el) {
                            el.classList.add("t-records_visible");
                        });
                        sessionStorage.setItem("visited", "y");
                    }, 400);
                }
                document.addEventListener('DOMContentLoaded', t_setvisRecs);
            }
        })();
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body class="t-body" style="margin:0;">
    <style>
        /* İkinci Navbar Stili */
        .second-navbar {
            background-color: black; /* İkinci navbar arkaplan rengi */
            position: fixed; /* Sabit pozisyon */
            width: 100%; /* Genişlik */
            top: 0; /* Üst kenara sabitleme */
            z-index: 1000; /* Diğer öğelerin üstüne çıkma sırası */
        }

            .second-navbar .navbar-brand {
                color: #fff; /* Yazı rengi */
                font-size: 1.5rem; /* Yazı boyutu */
                margin-right: auto; /* Sağa yaslama */
            }



        .navbar-brand img {
            width: 200px;
            height: 90px;
        }

        /* İçerik alanı için boşluk */
        body {
            padding-top: 100px; /* İlk navbar yüksekliği (varsayılan olarak Bootstrap navbar yüksekliği) */
        }
        /*   div.tn-atom{
          transition: background-color 0.3s;
               }
                /* Ana stil */

        /*
                   div.tn-atom:hover {
                        background-color: #eca100;
                    } */
        */
    </style>

    <!--allrecords-->
    <div id="allrecords" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="2450836" data-tilda-page-id="44475637" data-tilda-page-alias="home" data-tilda-formskey="5235a7657f324755256fc1efe451f504" data-tilda-lazy="yes" data-tilda-root-zone="com" data-tilda-project-headcode="yes">

      
        <!-- Offcanvas Menü -->
        <div style="width: 80%" class="offcanvas offcanvas-start bbb text-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
                <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-column pe-3" style="width: 100%;">
                    <li class="nav-item">
                        <a style="color:black" class="nav-link active" aria-current="page" href="#">Yaş Qrupları</a>
                        <hr>
                    </li>
                    <li class="nav-item">
                        <a style="color:black" class="nav-link" href="#">Uşaqlar</a>
                        <hr>
                    </li>
                    <li class="nav-item dropdown">
                        <a style="color:black" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Xidmətlər
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a style="color:black" class="dropdown-item" href="#">Standart</a></li>
                            <li><a style="color:black" class="dropdown-item" href="#">Premium</a></li>
                            <li><a style="color:black" class="dropdown-item" href="#">Ailəvi</a></li>
                            <li><a style="color:black" class="dropdown-item" href="#">Korporativ</a></li>
                        </ul>
                        <hr>
                    </li>
                    <li class="nav-item">
                        <a style="color:black" class="nav-link" href="#">Könüllülər</a>
                        <hr>
                    </li>
                    <li class="nav-item">
                        <a style="color:black" class="nav-link" asp-action="NewsAll" asp-controller="Home">Xeberler</a>
                        <hr>
                    </li>
                    <!-- Yarışlar bağlantısı -->

                    <li class="nav-item">
                        <a style="color:black" class="nav-link" asp-controller="Home" asp-action="NavbarRace" >Yarışlar</a>
                        <hr>
                    </li>
                    <li class="nav-item">
                        <a style="color:black" class="nav-link" href="#">Nəticələr</a>
                        <hr>
                    </li>
                </ul>
            </div>
        </div>

       @*  <!-- Toggle Button -->
        <button style="display:none" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- jQuery ve Bootstrap JS Kütüphaneleri -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

        <!-- JavaScript Kodu -->
        <script>
            $(document).ready(function () {
                // Toggle button için click event'i
                $('.navbar-toggler').click(function () {
                    // Offcanvas menüyü açma ve kapatma
                    var target = $(this).attr('data-bs-target');
                    $(target).toggleClass('show');
                });

                // Offcanvas menüdeki linklere tıklama event'i
                $('#offcanvasDarkNavbar a.nav-link').click(function () {
                    // Sayfa yenilemesini önlemek için
                    event.preventDefault();
                    // Linkin href attribute'ünü alarak yönlendirme yapabilirsiniz
                    var url = $(this).attr('href');
                    // Örnek bir yönlendirme
                    window.location.href = url;
                });
            });
        </script> *@


        

         


    <style>
        .navbar2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #333;
            padding: 20px 80px;
          
        }

            .navbar2 a {
                color: #fff;
                padding: 14px 20px;
                text-decoration: none;
                text-align: center;
            }

                .navbar2 a:hover {
                    color: black; /* Link üzerine gelindiğinde metin rengini değiştir */
                }

            .navbar2 .menu {
                display: flex;
                align-items: center;
            }

                .navbar2 .menu a,
                .navbar2 .menu .dropdown {
                    margin: 0 10px; /* Tüm öğelerin hizalı olmasını sağlamak için */
                }

        .dropdown-menu {
            background-color: #f9f9f9;
            min-width: 200px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 999;
        }

            .dropdown-menu a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

                .dropdown-menu a:hover {
                    background-color: #ddd; /* Hover efekti için arka plan rengi */
                }

                .dropdown-menu a:focus {
                    background-color: transparent; /* Tıklanma sonrası arka plan rengini temizleme */
                }

                /* Dropdown menüdeki linklerin hover efektini kaldırmak */
                .dropdown-menu a:hover,
                .dropdown-menu a:focus {
                    background-color: transparent !important;
                }

        @@media (max-width: 768px) {
    .navbar2 {
        display: none; /* Hide regular navbar on smaller screens */

    }
    .navbariki a{
        display:none;
    }

}
    </style>
        <style>
            .navbariki {
                display: flex;
                flex-direction: row;
               
                padding: 30px;
            }

                .navbariki a {
                    color: #000;
                    text-decoration: none;
                    padding: 10px 15px;
                    transition: background-color 0.3s, color 0.3s;
                }

                    .navbariki a:hover {
                        background-color: #e9ecef;
                        color: #007bff;
                    }

                .navbariki .dropdown {
                    position: relative;
                    display: inline-block;
                }

                .navbariki .dropdown-menu {
                    display: none;
                    position: absolute;
                    background-color: #f8f9fa;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                }

                    .navbariki .dropdown-menu a {
                        color: #000;
                        padding: 10px 15px;
                        display: block;
                        text-align: left;
                    }

                        .navbariki .dropdown-menu a:hover {
                            background-color: #e9ecef;
                        }

                .navbariki .dropdown:hover .dropdown-menu {
                    display: block;
                }
        </style>
        <!-- İkinci Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark second-navbar">
            <div class="container">
                <a class="navbar-brand"asp-action="Index" asp-controller="Home">
                    <img src="~/projecss/img/tristar-removebg-preview.png" alt="Brand Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="menu navbariki">
                    <a href="#yasgrubu">Yaş Grubu</a>
                    <a href="#cocuklar">Çocuklar</a>
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hizmetler
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#standart">Standart</a>
                            <a class="dropdown-item" href="#premium">Premium</a>
                            <a class="dropdown-item" href="#ailevi">Ailevi</a>
                            <a class="dropdown-item" href="#kurumsal">Kurumsal</a>
                        </div>
                    </div>

                    <a href="#gonulluler">Gönüllüler</a>
                    <a asp-controller="Home" asp-action="NewsAll">Xeberler</a>
                    <a asp-controller="Home" asp-action="NavbarRace">Yarışmalar</a>
                    <a href="#sonuclar">Sonuçlar</a>
                    <a href="#magaza">Mağaza</a>
                </div>
            </div>
        </nav>
      

        @RenderBody()
        @*     <footer id="t-footer" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="2450836" data-tilda-page-id="46025269" data-tilda-formskey="5235a7657f324755256fc1efe451f504" data-tilda-lazy="yes" data-tilda-root-zone="com" data-tilda-project-headcode="yes" >
        <div id="rec724936423" class="r t-rec" style=" " data-animationappear="off" data-record-type="396" >
        <!-- T396 -->
        <style>#rec724936423 .t396__artboard {height: 411px; background-color: #0e0e10; }#rec724936423 .t396__filter {height: 411px; }#rec724936423 .t396__carrier{height: 411px;background-position: center center;background-attachment: scroll;background-size: cover;background-repeat: no-repeat;}@@media screen and (max-width: 1199px) {#rec724936423 .t396__artboard,#rec724936423 .t396__filter,#rec724936423 .t396__carrier {}#rec724936423 .t396__filter {}#rec724936423 .t396__carrier {background-attachment: scroll;}}@@media screen and (max-width: 959px) {#rec724936423 .t396__artboard,#rec724936423 .t396__filter,#rec724936423 .t396__carrier {}#rec724936423 .t396__filter {}#rec724936423 .t396__carrier {background-attachment: scroll;}}@@media screen and (max-width: 639px) {#rec724936423 .t396__artboard,#rec724936423 .t396__filter,#rec724936423 .t396__carrier {height: 801px;}#rec724936423 .t396__filter {}#rec724936423 .t396__carrier {background-attachment: scroll;}}@@media screen and (max-width: 479px) {#rec724936423 .t396__artboard,#rec724936423 .t396__filter,#rec724936423 .t396__carrier {}#rec724936423 .t396__filter {}#rec724936423 .t396__carrier {background-attachment: scroll;}} #rec724936423 .tn-elem[data-elem-id="1711381677806"] { color: #ffffff; text-align: center; z-index: 2; top: 318px;left: calc(50% - 600px + 415px);width: 370px;}#rec724936423 .tn-elem[data-elem-id="1711381677806"] .tn-atom { color: #ffffff; font-size: 14px; font-family: 'Geometria',Arial,sans-serif; line-height: 1.4; font-weight: 400; opacity: 0.5; background-position: center center;border-color: transparent ;border-style: solid ; }@@media screen and (max-width: 1199px) {#rec724936423 .tn-elem[data-elem-id="1711381677806"] {top: 314px;left: calc(50% - 480px + 352px);width: 256px;}#rec724936423 .tn-elem[data-elem-id="1711381677806"] {text-align: center;}#rec724936423 .tn-elem[data-elem-id="1711381677806"] .tn-atom { line-height: 1.45; }}@@media screen and (max-width: 959px) {#rec724936423 .tn-elem[data-elem-id="1711381677806"] {top: 336px;left: calc(50% - 320px + 13px);width: 206px;}#rec724936423 .tn-elem[data-elem-id="1711381677806"] {text-align: left;}#rec724936423 .tn-elem[data-elem-id="1711381677806"] .tn-atom { font-size: 12px; }}@@media screen and (max-width: 639px) {#rec724936423 .tn-elem[data-elem-id="1711381677806"] {top: 708px;left: calc(50% - 240px + 11px);width: 458px;}#rec724936423 .tn-elem[data-elem-id="1711381677806"] {text-align: center;}}@@media screen and (max-width: 479px) {#rec724936423 .tn-elem[data-elem-id="1711381677806"] {top: 728px;left: calc(50% - 160px + 11px);width: 300px;}} #rec724936423 .tn-elem[data-elem-id="1711381775619"] { z-index: 3; top: 57px;left: calc(50% - 600px + 500px);width: 200px;}#rec724936423 .tn-elem[data-elem-id="1711381775619"] .tn-atom { background-position: center center;border-color: transparent ;border-style: solid ; }@@media screen and (max-width: 1199px) {#rec724936423 .tn-elem[data-elem-id="1711381775619"] {top: 57px;left: calc(50% - 480px + 380px);}}@@media screen and (max-width: 959px) {#rec724936423 .tn-elem[data-elem-id="1711381775619"] {top: 40px;left: calc(50% - 320px + 220px);}}@@media screen and (max-width: 639px) {#rec724936423 .tn-elem[data-elem-id="1711381775619"] {left: calc(50% - 240px + 140px);}}@@media screen and (max-width: 479px) {#rec724936423 .tn-elem[data-elem-id="1711381775619"] {top: 60px;left: calc(50% - 160px + 60px);}} #rec724936423 .tn-elem[data-elem-id="1711383339527"] { z-index: 8; top: 288px;left: calc(50% - 600px + 867px);width: 307px;}#rec724936423 .tn-elem[data-elem-id="1711383339527"] .tn-atom { background-position: center center;border-color: transparent ;border-style: solid ; }@@media screen and (max-width: 1199px) {#rec724936423 .tn-elem[data-elem-id="1711383339527"] {top: 284px;left: calc(50% - 480px + 657px);}}@@media screen and (max-width: 959px) {#rec724936423 .tn-elem[data-elem-id="1711383339527"] {top: 301px;left: calc(50% - 320px + 324px);}}@@media screen and (max-width: 639px) {#rec724936423 .tn-elem[data-elem-id="1711383339527"] {top: 604px;left: calc(50% - 240px + 87px);}}@@media screen and (max-width: 479px) {#rec724936423 .tn-elem[data-elem-id="1711383339527"] {left: calc(50% - 160px + 7px);}} #rec724936423 .tn-elem[data-elem-id="1711387712549"] { color: #ffffff; text-align: center; z-index: 26; top: 42px;left: calc(50% - 600px + 472px);width: 272px;height:68px;}#rec724936423 .tn-elem[data-elem-id="1711387712549"] .tn-atom { color: #ffffff; font-size: 14px; font-family: 'Geometria',Arial,sans-serif; line-height: 1.55; font-weight: 400; border-radius: 30px; opacity: 0; background-color: #000000; background-position: center center;border-color: transparent ;border-style: solid ; transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out; }@@media screen and (max-width: 1199px) {#rec724936423 .tn-elem[data-elem-id="1711387712549"] {top: 39px;left: calc(50% - 480px + 345px);}}@@media screen and (max-width: 959px) {#rec724936423 .tn-elem[data-elem-id="1711387712549"] {top: 32px;left: calc(50% - 320px + 183px);height: 57px;}}@@media screen and (max-width: 639px) {#rec724936423 .tn-elem[data-elem-id="1711387712549"] {top: 30px;left: calc(50% - 240px + 128px);width: 220px;}}@@media screen and (max-width: 479px) {#rec724936423 .tn-elem[data-elem-id="1711387712549"] {top: 49px;left: calc(50% - 160px + 51px);}} #rec724936423 .tn-elem[data-elem-id="1711381677791"] { z-index: 4; top: 165px;left: calc(50% - 600px + 866px);width: 179px;height:66px;}#rec724936423 .tn-elem[data-elem-id="1711381677791"] .tn-atom { background-position: center center;border-color: transparent ;border-style: solid ; }@@media screen and (max-width: 1199px) {#rec724936423 .tn-elem[data-elem-id="1711381677791"] {top: 165px;left: calc(50% - 480px + 786px);}}@@media screen and (max-width: 959px) {#rec724936423 .tn-elem[data-elem-id="1711381677791"] {top: 107px;left: calc(50% - 320px + 452px);}}@@media screen and (max-width: 639px) {#rec724936423 .tn-elem[data-elem-id="1711381677791"] {top: 222px;left: calc(50% - 240px + 150px);}}@@media screen and (max-width: 479px) {#rec724936423 .tn-elem[data-elem-id="1711381677791"] {top: 262px;left: calc(50% - 160px + 70px);}} #rec724936423 .tn-elem[data-elem-id="1711381677795"] { color: #f1f4f9; text-align: CENTER; z-index: 5; top: 165px;left: calc(50% - 600px + 877px);width: 157px;}#rec724936423 .tn-elem[data-elem-id="1711381677795"] .tn-atom { color: #f1f4f9; font-size: 14px; font-family: 'Geometria',Arial,sans-serif; line-height: 1.3; font-weight: 400; opacity: 0.5; background-position: center center;border-color: transparent ;border-style: solid ; }@@media screen and (max-width: 1199px) {#rec724936423 .tn-elem[data-elem-id="1711381677795"] {top: 165px;left: calc(50% - 480px + 797px);}}@@media screen and (max-width: 959px) {#rec724936423 .tn-elem[data-elem-id="1711381677795"] {top: 107px;left: calc(50% - 320px + 463px);}#rec724936423 .tn-elem[data-elem-id="1711381677795"] .tn-atom { font-size: 12px; }}@@media screen and (max-width: 639px) {#rec724936423 .tn-elem[data-elem-id="1711381677795"] {top: 222px;left: calc(50% - 240px + 161px);}}@@media screen and (max-width: 479px) {#rec724936423 .tn-elem[data-elem-id="1711381677795"] {top: 262px;left: calc(50% - 160px + 81px);}} #rec724936423 .tn-elem[data-elem-id="1711381677797"] { color: #f1f4f9; text-align: center; z-index: 6; top: 191px;left: calc(50% - 600px + 866px);width: 179px;height:40px;}#rec724936423 .tn-elem[data-elem-id="1711381677797"] .tn-atom { color: #f1f4f9; font-size: 16px; font-family: 'Geometria',Arial,sans-serif; line-height: 1.3; font-weight: 400; border-width: 1px; border-radius: 40px; background-position: center center;border-color: #f1f5f9 ;border-style: solid ; transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out; }@@media (hover), (min-width:0\0) {#rec724936423 .tn-elem[data-elem-id="1711381677797"] .tn-atom:hover { border-color: #ef2e52; }#rec724936423 .tn-elem[data-elem-id="1711381677797"] .tn-atom:hover {color: #ef2e52;}}@@media screen and (max-width: 1199px) {#rec724936423 .tn-elem[data-elem-id="1711381677797"] {top: 191px;left: calc(50% - 480px + 786px);}}@@media screen and (max-width: 959px) {#rec724936423 .tn-elem[data-elem-id="1711381677797"] {top: 133px;left: calc(50% - 320px + 452px);}}@@media screen and (max-width: 639px) {#rec724936423 .tn-elem[data-elem-id="1711381677797"] {top: 248px;left: calc(50% - 240px + 150px);}}@@media screen and (max-width: 479px) {#rec724936423 .tn-elem[data-elem-id="1711381677797"] {top: 288px;left: calc(50% - 160px + 70px);}} #rec724936423 .tn-elem[data-elem-id="1711382111923"] { z-index: 7; top: 186px;left: calc(50% - 600px + 545px);width: 50px;height:50px;}#rec724936423 .tn-elem[data-elem-id="1711382111923"] .tn-atom {border-radius: 3000px; background-color: #0e0e10; background-position: center center;border-color: transparent ;border-style: solid ; }@@media screen and (max-width: 1199px) {#rec724936423 .tn-elem[data-elem-id="1711382111923"] {top: 187px;left: calc(50% - 480px + 422px);}}@@media screen and (max-width: 959px) {#rec724936423 .tn-elem[data-elem-id="1711382111923"] {top: 130px;left: calc(50% - 320px + 259px);}}@@media screen and (max-width: 639px) {#rec724936423 .tn-elem[data-elem-id="1711382111923"] {left: calc(50% - 240px + 182px);}}@@media screen and (max-width: 479px) {#rec724936423 .tn-elem[data-elem-id="1711382111923"] {top: 160px;left: calc(50% - 160px + 102px);}} #rec724936423 .tn-elem[data-elem-id="1711381677812"] { z-index: 11; top: 186px;left: calc(50% - 600px + 545px);width: 50px;height:50px;}#rec724936423 .tn-elem[data-elem-id="1711381677812"] .tn-atom { border-width: 1px; border-radius: 3000px; background-position: center center;border-color: #f1f4f9 ;border-style: solid ; }@@media screen and (max-width: 1199px) {#rec724936423 .tn-elem[data-elem-id="1711381677812"] {top: 187px;left: calc(50% - 480px + 422px);}}@@media screen and (max-width: 959px) {#rec724936423 .tn-elem[data-elem-id="1711381677812"] {top: 130px;left: calc(50% - 320px + 259px);}}@@media screen and (max-width: 639px) {#rec724936423 .tn-elem[data-elem-id="1711381677812"] {left: calc(50% - 240px + 182px);}}@@media screen and (max-width: 479px) {#rec724936423 .tn-elem[data-elem-id="1711381677812"] {top: 160px;left: calc(50% - 160px + 102px);}} #rec724936423 .tn-elem[data-elem-id="1711381677816"] { z-index: 12; top: 199px;left: calc(50% - 600px + 554px);width: 28px;}#rec724936423 .tn-elem[data-elem-id="1711381677816"] .tn-atom { background-position: center center;border-color: transparent ;border-style: solid ; }#rec724936423 .tn-elem[data-elem-id="1711381677816"] .tn-atom__vector svg {display: block;}@@media screen and (max-width: 1199px) {#rec724936423 .tn-elem[data-elem-id="1711381677816"] {top: 200px;left: calc(50% - 480px + 431px);}}@@media screen and (max-width: 959px) {#rec724936423 .tn-elem[data-elem-id="1711381677816"] {top: 143px;left: calc(50% - 320px + 268px);}}@@media screen and (max-width: 639px) {#rec724936423 .tn-elem[data-elem-id="1711381677816"] {left: calc(50% - 240px + 191px);}}@@media screen and (max-width: 479px) {#rec724936423 .tn-elem[data-elem-id="1711381677816"] {top: 173px;left: calc(50% - 160px + 111px);}} #rec724936423 .tn-elem[data-elem-id="1711382592675"] { color: #ffffff; text-align: center; z-index: 13; top: 187px;left: calc(50% - 600px + 546px);width: 48px;height:48px;}#rec724936423 .tn-elem[data-elem-id="1711382592675"] .tn-atom { color: #ffffff; font-size: 14px; font-family: 'Geometria',Arial,sans-serif; line-height: 1.55; font-weight: 600; border-width: 0px; border-radius: 30px; opacity: 0.2; background-position: center center;border-color: transparent ;border-style: solid ; transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out; }@@media (hover), (min-width:0\0) {#rec724936423 .tn-elem[data-elem-id="1711382592675"] .tn-atom:hover {background-color: #ffffff;background-image: none; border-color: #ef2e52; }}@@media screen and (max-width: 1199px) {#rec724936423 .tn-elem[data-elem-id="1711382592675"] {top: 188px;left: calc(50% - 480px + 423px);}}@@media screen and (max-width: 959px) {#rec724936423 .tn-elem[data-elem-id="1711382592675"] {top: 131px;left: calc(50% - 320px + 260px);}}@@media screen and (max-width: 639px) {#rec724936423 .tn-elem[data-elem-id="1711382592675"] {left: calc(50% - 240px + 183px);}}@@media screen and (max-width: 479px) {#rec724936423 .tn-elem[data-elem-id="1711382592675"] {top: 161px;left: calc(50% - 160px + 103px);}} #rec724936423 .tn-elem[data-elem-id="1711382468079"] { z-index: 14; top: 186px;left: calc(50% - 600px + 610px);width: 50px;height:50px;}#rec724936423 .tn-elem[data-elem-id="1711382468079"] .tn-atom {border-radius: 3000px; background-color: #0e0e10; background-position: center center;border-color: transparent ;border-style: solid ; }@@media screen and (max-width: 1199px) {#rec724936423 .tn-elem[data-elem-id="1711382468079"] {top: 187px;left: calc(50% - 480px + 487px);}}@@media screen and (max-width: 959px) {#rec724936423 .tn-elem[data-elem-id="1711382468079"] {top: 130px;left: calc(50% - 320px + 324px);}}@@media screen and (max-width: 639px) {#rec724936423 .tn-elem[data-elem-id="1711382468079"] {left: calc(50% - 240px + 247px);}}@@media screen and (max-width: 479px) {#rec724936423 .tn-elem[data-elem-id="1711382468079"] {top: 160px;left: calc(50% - 160px + 167px);}} #rec724936423 .tn-elem[data-elem-id="1711381677814"] { z-index: 15; top: 186px;left: calc(50% - 600px + 610px);width: 49px;}#rec724936423 .tn-elem[data-elem-id="1711381677814"] .tn-atom { background-position: center center;border-color: transparent ;border-style: solid ; }#rec724936423 .tn-elem[data-elem-id="1711381677814"] .tn-atom__vector svg {display: block;}@@media screen and (max-width: 1199px) {#rec724936423 .tn-elem[data-elem-id="1711381677814"] {top: 187px;left: calc(50% - 480px + 487px);}}@@media screen and (max-width: 959px) {#rec724936423 .tn-elem[data-elem-id="1711381677814"] {top: 130px;left: calc(50% - 320px + 324px);}}@@media screen and (max-width: 639px) {#rec724936423 .tn-elem[data-elem-id="1711381677814"] {left: calc(50% - 240px + 247px);}}@@media screen and (max-width: 479px) {#rec724936423 .tn-elem[data-elem-id="1711381677814"] {top: 160px;left: calc(50% - 160px + 167px);}} #rec724936423 .tn-elem[data-elem-id="1711381677818"] { z-index: 16; top: 201px;left: calc(50% - 600px + 621px);width: 28px;}#rec724936423 .tn-elem[data-elem-id="1711381677818"] .tn-atom { background-position: center center;border-color: transparent ;border-style: solid ; }#rec724936423 .tn-elem[data-elem-id="1711381677818"] .tn-atom__vector svg {display: block;}@@media screen and (max-width: 1199px) {#rec724936423 .tn-elem[data-elem-id="1711381677818"] {top: 202px;left: calc(50% - 480px + 498px);}}@@media screen and (max-width: 959px) {#rec724936423 .tn-elem[data-elem-id="1711381677818"] {top: 145px;left: calc(50% - 320px + 335px);}}@@media screen and (max-width: 639px) {#rec724936423 .tn-elem[data-elem-id="1711381677818"] {left: calc(50% - 240px + 258px);}}@@media screen and (max-width: 479px) {#rec724936423 .tn-elem[data-elem-id="1711381677818"] {top: 175px;left: calc(50% - 160px + 178px);}} #rec724936423 .tn-elem[data-elem-id="1711383077715"] { color: #ffffff; text-align: center; z-index: 17; top: 188px;left: calc(50% - 600px + 610px);width: 48px;height:48px;}#rec724936423 .tn-elem[data-elem-id="1711383077715"] .tn-atom { color: #ffffff; font-size: 14px; font-family: 'Geometria',Arial,sans-serif; line-height: 1.55; font-weight: 600; border-width: 0px; border-radius: 30px; opacity: 0.2; background-position: center center;border-color: transparent ;border-style: solid ; transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out; }@@media (hover), (min-width:0\0) {#rec724936423 .tn-elem[data-elem-id="1711383077715"] .tn-atom:hover {background-color: #ffffff;background-image: none; border-color: #ef2e52; }}@@media screen and (max-width: 1199px) {#rec724936423 .tn-elem[data-elem-id="1711383077715"] {top: 189px;left: calc(50% - 480px + 487px);}}@@media screen and (max-width: 959px) {#rec724936423 .tn-elem[data-elem-id="1711383077715"] {top: 132px;left: calc(50% - 320px + 324px);}}@@media screen and (max-width: 639px) {#rec724936423 .tn-elem[data-elem-id="1711383077715"] {left: calc(50% - 240px + 247px);}}@@media screen and (max-width: 479px) {#rec724936423 .tn-elem[data-elem-id="1711383077715"] {top: 162px;left: calc(50% - 160px + 167px);}} #rec724936423 .tn-elem[data-elem-id="1711381829359"] { color: #ffffff; text-align: left; z-index: 18; top: 173px;left: calc(50% - 600px + 20px);width: 132px;height:31px;}#rec724936423 .tn-elem[data-elem-id="1711381829359"] .tn-atom { color: #ffffff; font-size: 16px; font-family: 'Geometria',Arial,sans-serif; line-height: 1.55; font-weight: 400; border-radius: 30px; background-position: center center;border-color: transparent ;border-style: solid ; transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out; }@@media (hover), (min-width:0\0) {#rec724936423 .tn-elem[data-elem-id="1711381829359"] .tn-atom:hover {}#rec724936423 .tn-elem[data-elem-id="1711381829359"] .tn-atom:hover {color: #ee2e52;}}@@media screen and (max-width: 1199px) {#rec724936423 .tn-elem[data-elem-id="1711381829359"] {top: 206px;left: calc(50% - 480px + -8px);width: 90px;height: 23px;}#rec724936423 .tn-elem[data-elem-id="1711381829359"] .tn-atom { font-size: 14px; }}@@media screen and (max-width: 959px) {#rec724936423 .tn-elem[data-elem-id="1711381829359"] {top: 131px;left: calc(50% - 320px + 12px);width: 70px;height: 22px;}#rec724936423 .tn-elem[data-elem-id="1711381829359"] .tn-atom { font-size: 12px; }}@@media screen and (max-width: 639px) {#rec724936423 .tn-elem[data-elem-id="1711381829359"] {top: 340px;left: calc(50% - 240px + 194px);width: 92px;height: 20px;}#rec724936423 .tn-elem[data-elem-id="1711381829359"] {text-align: center;}#rec724936423 .tn-elem[data-elem-id="1711381829359"] .tn-atom { font-size: 14px; }}@@media screen and (max-width: 479px) {#rec724936423 .tn-elem[data-elem-id="1711381829359"] {top: 375px;left: calc(50% - 160px + 114px);}} #rec724936423 .tn-elem[data-elem-id="1711381829362"] { color: #ffffff; text-align: left; z-index: 19; top: 204px;left: calc(50% - 600px + 20px);width: 151px;height:31px;}#rec724936423 .tn-elem[data-elem-id="1711381829362"] .tn-atom { color: #ffffff; font-size: 16px; font-family: 'Geometria',Arial,sans-serif; line-height: 1.55; font-weight: 400; border-radius: 30px; background-position: center center;border-color: transparent ;border-style: solid ; transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out; }@@media (hover), (min-width:0\0) {#rec724936423 .tn-elem[data-elem-id="1711381829362"] .tn-atom:hover {}#rec724936423 .tn-elem[data-elem-id="1711381829362"] .tn-atom:hover {color: #ee2e52;}}@@media screen and (max-width: 1199px) {#rec724936423 .tn-elem[data-elem-id="1711381829362"] {top: 175px;left: calc(50% - 480px + -8px);width: 108px;height: 22px;}#rec724936423 .tn-elem[data-elem-id="1711381829362"] .tn-atom { font-size: 14px; }}@@media screen and (max-width: 959px) {#rec724936423 .tn-elem[data-elem-id="1711381829362"] {top: 157px;left: calc(50% - 320px + 12px);width: 85px;}#rec724936423 .tn-elem[data-elem-id="1711381829362"] .tn-atom { font-size: 12px; }}@@media screen and (max-width: 639px) {#rec724936423 .tn-elem[data-elem-id="1711381829362"] {top: 377px;left: calc(50% - 240px + 190px);width: 99px;height: 20px;}#rec724936423 .tn-elem[data-elem-id="1711381829362"] {text-align: center;}#rec724936423 .tn-elem[data-elem-id="1711381829362"] .tn-atom { font-size: 14px; }}@@media screen and (max-width: 479px) {#rec724936423 .tn-elem[data-elem-id="1711381829362"] {top: 407px;left: calc(50% - 160px + 111px);}} #rec724936423 .tn-elem[data-elem-id="1711381829364"] { color: #ffffff; text-align: left; z-index: 22; top: 266px;left: calc(50% - 600px + 20px);width: 205px;height:30px;}#rec724936423 .tn-elem[data-elem-id="1711381829364"] .tn-atom { color: #ffffff; font-size: 16px; font-family: 'Geometria',Arial,sans-serif; line-height: 1.55; font-weight: 400; border-radius: 30px; background-position: center center;border-color: transparent ;border-style: solid ; transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out; }@@media (hover), (min-width:0\0) {#rec724936423 .tn-elem[data-elem-id="1711381829364"] .tn-atom:hover {}#rec724936423 .tn-elem[data-elem-id="1711381829364"] .tn-atom:hover {color: #ee2e52;}}@@media screen and (max-width: 1199px) {#rec724936423 .tn-elem[data-elem-id="1711381829364"] {top: 268px;left: calc(50% - 480px + -8px);width: 155px;height: 22px;}#rec724936423 .tn-elem[data-elem-id="1711381829364"] .tn-atom { font-size: 14px; }}@@media screen and (max-width: 959px) {#rec724936423 .tn-elem[data-elem-id="1711381829364"] {top: 208px;left: calc(50% - 320px + 12px);width: 124px;height: 22px;}#rec724936423 .tn-elem[data-elem-id="1711381829364"] .tn-atom { font-size: 12px; }}@@media screen and (max-width: 639px) {#rec724936423 .tn-elem[data-elem-id="1711381829364"] {top: 488px;left: calc(50% - 240px + 99px);width: 282px;height: 20px;}#rec724936423 .tn-elem[data-elem-id="1711381829364"] {text-align: center;}#rec724936423 .tn-elem[data-elem-id="1711381829364"] .tn-atom { font-size: 14px; }}@@media screen and (max-width: 479px) {#rec724936423 .tn-elem[data-elem-id="1711381829364"] {top: 471px;left: calc(50% - 160px + 19px);}} #rec724936423 .tn-elem[data-elem-id="1711381829367"] { color: #ffffff; text-align: left; z-index: 23; top: 235px;left: calc(50% - 600px + 20px);width: 137px;height:31px;}#rec724936423 .tn-elem[data-elem-id="1711381829367"] .tn-atom { color: #ffffff; font-size: 16px; font-family: 'Geometria',Arial,sans-serif; line-height: 1.55; font-weight: 400; border-radius: 30px; background-position: center center;border-color: transparent ;border-style: solid ; transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out; }@@media (hover), (min-width:0\0) {#rec724936423 .tn-elem[data-elem-id="1711381829367"] .tn-atom:hover {}#rec724936423 .tn-elem[data-elem-id="1711381829367"] .tn-atom:hover {color: #ee2e52;}}@@media screen and (max-width: 1199px) {#rec724936423 .tn-elem[data-elem-id="1711381829367"] {top: 237px;left: calc(50% - 480px + -8px);width: 97px;height: 23px;}#rec724936423 .tn-elem[data-elem-id="1711381829367"] .tn-atom { font-size: 14px; }}@@media screen and (max-width: 959px) {#rec724936423 .tn-elem[data-elem-id="1711381829367"] {top: 182px;left: calc(50% - 320px + 12px);width: 73px;height: 22px;}#rec724936423 .tn-elem[data-elem-id="1711381829367"] .tn-atom { font-size: 12px; }}@@media screen and (max-width: 639px) {#rec724936423 .tn-elem[data-elem-id="1711381829367"] {top: 414px;left: calc(50% - 240px + 194px);width: 91px;height: 20px;}#rec724936423 .tn-elem[data-elem-id="1711381829367"] {text-align: center;}#rec724936423 .tn-elem[data-elem-id="1711381829367"] .tn-atom { font-size: 14px; }}@@media screen and (max-width: 479px) {#rec724936423 .tn-elem[data-elem-id="1711381829367"] {top: 439px;left: calc(50% - 160px + 115px);}} #rec724936423 .tn-elem[data-elem-id="1711381829369"] { color: #ffffff; text-align: left; z-index: 24; top: 296px;left: calc(50% - 600px + 20px);width: 95px;height:31px;}#rec724936423 .tn-elem[data-elem-id="1711381829369"] .tn-atom { color: #ffffff; font-size: 16px; font-family: 'Geometria',Arial,sans-serif; line-height: 1.55; font-weight: 400; border-radius: 30px; background-position: center center;border-color: transparent ;border-style: solid ; transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out; }@@media (hover), (min-width:0\0) {#rec724936423 .tn-elem[data-elem-id="1711381829369"] .tn-atom:hover {}#rec724936423 .tn-elem[data-elem-id="1711381829369"] .tn-atom:hover {color: #ee2e52;}}@@media screen and (max-width: 1199px) {#rec724936423 .tn-elem[data-elem-id="1711381829369"] {top: 299px;left: calc(50% - 480px + -8px);width: 60px;height: 23px;}#rec724936423 .tn-elem[data-elem-id="1711381829369"] .tn-atom { font-size: 14px; }}@@media screen and (max-width: 959px) {#rec724936423 .tn-elem[data-elem-id="1711381829369"] {top: 233px;left: calc(50% - 320px + 12px);width: 43px;height: 22px;}#rec724936423 .tn-elem[data-elem-id="1711381829369"] .tn-atom { font-size: 12px; }}@@media screen and (max-width: 639px) {#rec724936423 .tn-elem[data-elem-id="1711381829369"] {top: 451px;left: calc(50% - 240px + 206px);width: 67px;height: 20px;}#rec724936423 .tn-elem[data-elem-id="1711381829369"] {text-align: center;}#rec724936423 .tn-elem[data-elem-id="1711381829369"] .tn-atom { font-size: 14px; }}@@media screen and (max-width: 479px) {#rec724936423 .tn-elem[data-elem-id="1711381829369"] {top: 503px;left: calc(50% - 160px + 127px);}} #rec724936423 .tn-elem[data-elem-id="1711386862493"] { color: #ffffff; text-align: left; z-index: 25; top: 327px;left: calc(50% - 600px + 20px);width: 80px;height:31px;}#rec724936423 .tn-elem[data-elem-id="1711386862493"] .tn-atom { color: #ffffff; font-size: 16px; font-family: 'Geometria',Arial,sans-serif; line-height: 1.55; font-weight: 400; border-radius: 30px; background-position: center center;border-color: transparent ;border-style: solid ; transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out; }@@media (hover), (min-width:0\0) {#rec724936423 .tn-elem[data-elem-id="1711386862493"] .tn-atom:hover {}#rec724936423 .tn-elem[data-elem-id="1711386862493"] .tn-atom:hover {color: #ee2e52;}}@@media screen and (max-width: 1199px) {#rec724936423 .tn-elem[data-elem-id="1711386862493"] {top: 330px;left: calc(50% - 480px + -8px);width: 47px;height: 22px;}#rec724936423 .tn-elem[data-elem-id="1711386862493"] .tn-atom { font-size: 14px; }}@@media screen and (max-width: 959px) {#rec724936423 .tn-elem[data-elem-id="1711386862493"] {top: 259px;left: calc(50% - 320px + 12px);width: 32px;height: 20px;}#rec724936423 .tn-elem[data-elem-id="1711386862493"] .tn-atom { font-size: 12px; }}@@media screen and (max-width: 639px) {#rec724936423 .tn-elem[data-elem-id="1711386862493"] {top: 525px;left: calc(50% - 240px + 206px);width: 67px;height: 20px;}#rec724936423 .tn-elem[data-elem-id="1711386862493"] {text-align: center;}#rec724936423 .tn-elem[data-elem-id="1711386862493"] .tn-atom { font-size: 14px; }}@@media screen and (max-width: 479px) {#rec724936423 .tn-elem[data-elem-id="1711386862493"] {top: 535px;left: calc(50% - 160px + 127px);}}</style>
        <div class='t396'>
        <div class="t396__artboard" data-artboard-recid="724936423" data-artboard-screens="320,480,640,960,1200" data-artboard-height="411" data-artboard-valign="center" data-artboard-upscale="grid" data-artboard-height-res-480="801"
        >
        <div class="t396__carrier" data-artboard-recid="724936423"></div>
        <div class="t396__filter" data-artboard-recid="724936423"></div>
        <div class='t396__elem tn-elem tn-elem__7249364231711381677806' data-elem-id='1711381677806' data-elem-type='text' data-field-top-value="318" data-field-left-value="415" data-field-width-value="370" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px" data-field-top-res-320-value="728" data-field-left-res-320-value="11" data-field-width-res-320-value="300" data-field-top-res-480-value="708" data-field-left-res-480-value="11" data-field-width-res-480-value="458" data-field-top-res-640-value="336" data-field-left-res-640-value="13" data-field-width-res-640-value="206" data-field-top-res-960-value="314" data-field-left-res-960-value="352" data-field-width-res-960-value="256"
        >
        <div class='tn-atom'field='tn_text_1711381677806'>ИП Арутюнян Сурен Вагушикович, ИНН&nbsp;471609316230</div>
        </div>
        <div class='t396__elem tn-elem tn-elem__7249364231711381775619' data-elem-id='1711381775619' data-elem-type='image' data-field-top-value="57" data-field-left-value="500" data-field-width-value="200" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px" data-field-filewidth-value="764" data-field-fileheight-value="152" data-field-top-res-320-value="60" data-field-left-res-320-value="60" data-field-left-res-480-value="140" data-field-top-res-640-value="40" data-field-left-res-640-value="220" data-field-top-res-960-value="57" data-field-left-res-960-value="380"
        >
        <div class='tn-atom' ><img class='tn-atom__img t-img' data-original='https://static.tildacdn.com/tild3530-3331-4630-a432-626337323239/trisystems_logo.png' alt='' imgfield='tn_img_1711381775619' /></div>
        </div>
        <div class='t396__elem tn-elem tn-elem__7249364231711383339527' data-elem-id='1711383339527' data-elem-type='form' data-field-top-value="288" data-field-left-value="867" data-field-width-value="307" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px" data-field-left-res-320-value="7" data-field-top-res-480-value="604" data-field-left-res-480-value="87" data-field-top-res-640-value="301" data-field-left-res-640-value="324" data-field-top-res-960-value="284" data-field-left-res-960-value="657" data-field-inputpos-value="h" data-field-inputfontfamily-value="Geometria" data-field-fieldfontfamily-value="Geometria" data-field-buttonhovercolor-value="#0e0e10" data-field-buttonhoverbgcolor-value="#f1f5f9" data-field-inputfontsize-value="16" data-field-inputfontweight-value="400" data-field-inputcolor-value="#a6a6a6" data-field-inputbgcolor-value="#424243" data-field-inputbordersize-value="0" data-field-inputradius-value="8" data-field-inputheight-value="48" data-field-inputmargbottom-value="20" data-field-inputmargright-value="20" data-field-inputtitlefontsize-value="14" data-field-inputtitlefontweight-value="400" data-field-inputtitlecolor-value="#7a7a7a" data-field-inputtitlemargbottom-value="6" data-field-inputelscolor-value="#b2b2b2" data-field-inputelsfontweight-value="400" data-field-inputelsfontsize-value="14" data-field-buttontitle-value="►" data-field-buttoncolor-value="#ffffff" data-field-buttonbgcolor-value="#ef2e52" data-field-buttonradius-value="8" data-field-buttonwidth-value="48" data-field-buttonheight-value="48" data-field-buttonfontfamily-value="Geometria" data-field-buttonfontsize-value="14" data-field-buttonfontweight-value="600" data-field-formmsgsuccess-value="Спасибо за подписку!" data-field-formerrreq-value="Email написан некорректно" data-field-receivers-value="a50cb3166ee32b1fa868b940fa06ed5b" data-field-inputtitlefontsize-res-640-value="12"
        >
        <div class='tn-atom tn-atom__form'></div>
        <!--googleoff: all--><!--noindex-->
        <div data-nosnippet="true" class="tn-atom__inputs-wrapp" style="display:none;"><textarea class="tn-atom__inputs-textarea">[{"lid":"1711383339527","ls":"10","loff":"","li_type":"em","li_name":"email","li_title":"\u041f\u043e\u0434\u043f\u0438\u0448\u0438\u0442\u0435\u0441\u044c \u043d\u0430 \u043d\u0430\u0448\u0438 \u0440\u0430\u0441\u0441\u044b\u043b\u043a\u0438:","li_ph":"\u0412\u0430\u0448 email","li_req":"y","li_nm":"email"}]</textarea></div>
        <!--/noindex--><!--googleon: all-->
        </div>
        <div class='t396__elem tn-elem tn-elem__7249364231711387712549' data-elem-id='1711387712549' data-elem-type='button' data-field-top-value="42" data-field-left-value="472" data-field-height-value="68" data-field-width-value="272" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="49" data-field-left-res-320-value="51" data-field-top-res-480-value="30" data-field-left-res-480-value="128" data-field-width-res-480-value="220" data-field-top-res-640-value="32" data-field-left-res-640-value="183" data-field-height-res-640-value="57" data-field-top-res-960-value="39" data-field-left-res-960-value="345"
        ><a class='tn-atom' href="index.html" ></a></div>
        <div class='t396__elem tn-elem tn-elem__7249364231711381677791' data-elem-id='1711381677791' data-elem-type='shape' data-field-top-value="165" data-field-left-value="866" data-field-height-value="66" data-field-width-value="179" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="262" data-field-left-res-320-value="70" data-field-top-res-480-value="222" data-field-left-res-480-value="150" data-field-top-res-640-value="107" data-field-left-res-640-value="452" data-field-top-res-960-value="165" data-field-left-res-960-value="786"
        >
        <div class='tn-atom' ></div>
        </div>
        <div class='t396__elem tn-elem tn-elem__7249364231711381677795' data-elem-id='1711381677795' data-elem-type='text' data-field-top-value="165" data-field-left-value="877" data-field-width-value="157" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px" data-field-top-res-320-value="262" data-field-left-res-320-value="81" data-field-top-res-480-value="222" data-field-left-res-480-value="161" data-field-top-res-640-value="107" data-field-left-res-640-value="463" data-field-top-res-960-value="165" data-field-left-res-960-value="797"
        >
        <div class='tn-atom'field='tn_text_1711381677795'>Поддержка в Telegram:</div>
        </div>
        <div class='t396__elem tn-elem tn-elem__7249364231711381677797' data-elem-id='1711381677797' data-elem-type='button' data-field-top-value="191" data-field-left-value="866" data-field-height-value="40" data-field-width-value="179" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="288" data-field-left-res-320-value="70" data-field-top-res-480-value="248" data-field-left-res-480-value="150" data-field-top-res-640-value="133" data-field-left-res-640-value="452" data-field-top-res-960-value="191" data-field-left-res-960-value="786"
        ><a class='tn-atom' href="https://t.me/trisystems_support" >Задать вопрос</a></div>
        <div class='t396__elem tn-elem tn-elem__7249364231711382111923' data-elem-id='1711382111923' data-elem-type='shape' data-field-top-value="186" data-field-left-value="545" data-field-height-value="50" data-field-width-value="50" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="160" data-field-left-res-320-value="102" data-field-left-res-480-value="182" data-field-top-res-640-value="130" data-field-left-res-640-value="259" data-field-top-res-960-value="187" data-field-left-res-960-value="422"
        ><a class='tn-atom js-click-zero-stat' href="https://t.me/surencoach" target="_blank" data-tilda-event-name="/tilda/click/rec724936423/button1711382111923" ></a></div>
        <div class='t396__elem tn-elem tn-elem__7249364231711381677812' data-elem-id='1711381677812' data-elem-type='shape' data-field-top-value="186" data-field-left-value="545" data-field-height-value="50" data-field-width-value="50" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="160" data-field-left-res-320-value="102" data-field-left-res-480-value="182" data-field-top-res-640-value="130" data-field-left-res-640-value="259" data-field-top-res-960-value="187" data-field-left-res-960-value="422"
        ><a class='tn-atom' href="https://t.me/surencoach" ></a></div>
        <div class='t396__elem tn-elem tn-elem__7249364231711381677816' data-elem-id='1711381677816' data-elem-type='vector' data-field-top-value="199" data-field-left-value="554" data-field-width-value="28" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px" data-field-top-res-320-value="173" data-field-left-res-320-value="111" data-field-left-res-480-value="191" data-field-top-res-640-value="143" data-field-left-res-640-value="268" data-field-top-res-960-value="200" data-field-left-res-960-value="431"
        >
        <a class='tn-atom tn-atom__vector' href="https://www.youtube.com/@@Trisystems" >
        <?xml version="1.0" encoding="UTF-8"?> <!--?xml version="1.0" encoding="UTF-8"?--> <!--?xml version="1.0" encoding="UTF-8"?--> <!--?xml version="1.0" encoding="UTF-8"?--> <!--?xml version="1.0" encoding="UTF-8"?--> <!--?xml version="1.0" encoding="UTF-8"?--> <!--?xml version="1.0" encoding="UTF-8"?--> <!--?xml version="1.0" encoding="UTF-8"?-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 22" fill="none">
        <path d="M27.961 0.481105C27.8445 0.184804 27.72775 0.1107285 27.57225 0.073691C27.14475 -0.1114975 26.44475 0.1107285 26.44475 0.1107285C26.44475 0.1107285 1.91177 8.518275 0.5121025 9.444225C0.2010655 9.629425 0.12330625 9.777575 0.045547 9.888675C-0.18773075 10.55535 0.5509825 10.85165 0.5509825 10.85165L6.88835 12.81465C6.88835 12.81465 7.12165 12.8517 7.1994 12.81465C8.63795 11.9628 21.662625 4.1108 22.401325 3.851525C22.517975 3.8145 22.595725 3.851525 22.595725 3.9256C22.2847 4.925625 10.970725 14.5184 10.970725 14.5184C10.970725 14.5184 10.93185 14.555425 10.892975 14.6295L10.309775 20.592575C10.309775 20.592575 10.0765 22.407425 11.9816 20.592575C13.342375 19.29625 14.6643 18.22215 15.28635 17.703625C17.5025 19.11105 19.835275 20.703675 20.84615 21.5185C21.351575 21.925925 21.77925 22 22.129175 22C23.101175 21.962975 23.373325 20.96295 23.373325 20.96295C23.373325 20.96295 27.8055 3.8145 27.961 1.51816C27.961 1.295935 28 1.147785 28 0.9996325C28 0.7774075 28 0.5922175 27.961 0.481105Z" fill="#F2F5F9"></path>
        </svg>
        </a>
        </div>
        <div class='t396__elem tn-elem tn-elem__7249364231711382592675' data-elem-id='1711382592675' data-elem-type='button' data-field-top-value="187" data-field-left-value="546" data-field-height-value="48" data-field-width-value="48" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="161" data-field-left-res-320-value="103" data-field-left-res-480-value="183" data-field-top-res-640-value="131" data-field-left-res-640-value="260" data-field-top-res-960-value="188" data-field-left-res-960-value="423"
        ><a class='tn-atom' href="https://t.me/surencoach" ></a></div>
        <div class='t396__elem tn-elem tn-elem__7249364231711382468079' data-elem-id='1711382468079' data-elem-type='shape' data-field-top-value="186" data-field-left-value="610" data-field-height-value="50" data-field-width-value="50" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="160" data-field-left-res-320-value="167" data-field-left-res-480-value="247" data-field-top-res-640-value="130" data-field-left-res-640-value="324" data-field-top-res-960-value="187" data-field-left-res-960-value="487"
        ><a class='tn-atom js-click-zero-stat' href="https://www.youtube.com/@@Trisystems" target="_blank" data-tilda-event-name="/tilda/click/rec724936423/button1711382468079" ></a></div>
        <div class='t396__elem tn-elem tn-elem__7249364231711381677814' data-elem-id='1711381677814' data-elem-type='vector' data-field-top-value="186" data-field-left-value="610" data-field-width-value="49" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px" data-field-top-res-320-value="160" data-field-left-res-320-value="167" data-field-left-res-480-value="247" data-field-top-res-640-value="130" data-field-left-res-640-value="324" data-field-top-res-960-value="187" data-field-left-res-960-value="487"
        >
        <a class='tn-atom tn-atom__vector' href="https://www.youtube.com/@@Trisystems" >
        <?xml version="1.0" encoding="UTF-8"?> <!--?xml version="1.0" encoding="UTF-8"?--> <!--?xml version="1.0" encoding="UTF-8"?--> <!--?xml version="1.0" encoding="UTF-8"?--> <!--?xml version="1.0" encoding="UTF-8"?--> <!--?xml version="1.0" encoding="UTF-8"?--> <!--?xml version="1.0" encoding="UTF-8"?--> <!--?xml version="1.0" encoding="UTF-8"?-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49 50" fill="none">
        <path d="M48.5 25C48.5 38.5405 37.74525 49.5 24.5 49.5C11.25465 49.5 0.5 38.5405 0.5 25C0.5 11.45945 11.25465 0.5 24.5 0.5C37.74525 0.5 48.5 11.45945 48.5 25Z" stroke="#F2F5F9"></path>
        </svg>
        </a>
        </div>
        <div class='t396__elem tn-elem tn-elem__7249364231711381677818' data-elem-id='1711381677818' data-elem-type='vector' data-field-top-value="201" data-field-left-value="621" data-field-width-value="28" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px" data-field-top-res-320-value="175" data-field-left-res-320-value="178" data-field-left-res-480-value="258" data-field-top-res-640-value="145" data-field-left-res-640-value="335" data-field-top-res-960-value="202" data-field-left-res-960-value="498"
        >
        <a class='tn-atom tn-atom__vector' href="https://www.youtube.com/@@Trisystems" >
        <?xml version="1.0" encoding="UTF-8"?> <!--?xml version="1.0" encoding="UTF-8"?--> <!--?xml version="1.0" encoding="UTF-8"?--> <!--?xml version="1.0" encoding="UTF-8"?--> <!--?xml version="1.0" encoding="UTF-8"?--> <!--?xml version="1.0" encoding="UTF-8"?--> <!--?xml version="1.0" encoding="UTF-8"?--> <!--?xml version="1.0" encoding="UTF-8"?-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 20" fill="none">
        <path d="M27.3785 3.1111C27.06775 1.873015 26.10425 0.920635 24.89235 0.5714275C22.716975 0 13.984475 0 13.984475 0C13.984475 0 5.25195 0 3.0455 0.603175C1.8335175 0.920635 0.90122 1.9047625 0.5593775 3.14285C0 5.365075 0 10 0 10C0 10 0 14.634925 0.590455 16.8889C0.90122 18.126975 1.864595 19.079375 3.076575 19.428575C5.25195 20 13.984475 20 13.984475 20C13.984475 20 22.716975 20 24.923425 19.396825C26.1355 19.079375 27.06775 18.09525 27.4095 16.85715C28 14.634925 28 9.96825 28 9.96825C28 9.96825 27.969 5.365075 27.3785 3.1111ZM11.187575 14.285725V5.714275L18.4595 10L11.187575 14.285725Z" fill="#F2F5F9"></path>
        </svg>
        </a>
        </div>
        <div class='t396__elem tn-elem tn-elem__7249364231711383077715' data-elem-id='1711383077715' data-elem-type='button' data-field-top-value="188" data-field-left-value="610" data-field-height-value="48" data-field-width-value="48" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="162" data-field-left-res-320-value="167" data-field-left-res-480-value="247" data-field-top-res-640-value="132" data-field-left-res-640-value="324" data-field-top-res-960-value="189" data-field-left-res-960-value="487"
        ><a class='tn-atom' href="https://www.youtube.com/@@Trisystems" ></a></div>
        <div class='t396__elem tn-elem tn-elem__7249364231711381829359' data-elem-id='1711381829359' data-elem-type='button' data-field-top-value="173" data-field-left-value="20" data-field-height-value="31" data-field-width-value="132" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="375" data-field-left-res-320-value="114" data-field-top-res-480-value="340" data-field-left-res-480-value="194" data-field-height-res-480-value="20" data-field-width-res-480-value="92" data-field-top-res-640-value="131" data-field-left-res-640-value="12" data-field-height-res-640-value="22" data-field-width-res-640-value="70" data-field-top-res-960-value="206" data-field-left-res-960-value="-8" data-field-height-res-960-value="23" data-field-width-res-960-value="90"
        ><a class='tn-atom' href="index.html" >Платформа</a></div>
        <div class='t396__elem tn-elem tn-elem__7249364231711381829362' data-elem-id='1711381829362' data-elem-type='button' data-field-top-value="204" data-field-left-value="20" data-field-height-value="31" data-field-width-value="151" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="407" data-field-left-res-320-value="111" data-field-top-res-480-value="377" data-field-left-res-480-value="190" data-field-height-res-480-value="20" data-field-width-res-480-value="99" data-field-top-res-640-value="157" data-field-left-res-640-value="12" data-field-width-res-640-value="85" data-field-top-res-960-value="175" data-field-left-res-960-value="-8" data-field-height-res-960-value="22" data-field-width-res-960-value="108"
        ><a class='tn-atom' href="laboratory.html" >Тестирование</a></div>
        <div class='t396__elem tn-elem tn-elem__7249364231711381829364' data-elem-id='1711381829364' data-elem-type='button' data-field-top-value="266" data-field-left-value="20" data-field-height-value="30" data-field-width-value="205" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="471" data-field-left-res-320-value="19" data-field-top-res-480-value="488" data-field-left-res-480-value="99" data-field-height-res-480-value="20" data-field-width-res-480-value="282" data-field-top-res-640-value="208" data-field-left-res-640-value="12" data-field-height-res-640-value="22" data-field-width-res-640-value="124" data-field-top-res-960-value="268" data-field-left-res-960-value="-8" data-field-height-res-960-value="22" data-field-width-res-960-value="155"
        ><a class='tn-atom' href="premium.html" >Премиум программа</a></div>
        <div class='t396__elem tn-elem tn-elem__7249364231711381829367' data-elem-id='1711381829367' data-elem-type='button' data-field-top-value="235" data-field-left-value="20" data-field-height-value="31" data-field-width-value="137" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="439" data-field-left-res-320-value="115" data-field-top-res-480-value="414" data-field-left-res-480-value="194" data-field-height-res-480-value="20" data-field-width-res-480-value="91" data-field-top-res-640-value="182" data-field-left-res-640-value="12" data-field-height-res-640-value="22" data-field-width-res-640-value="73" data-field-top-res-960-value="237" data-field-left-res-960-value="-8" data-field-height-res-960-value="23" data-field-width-res-960-value="97"
        ><a class='tn-atom' href="camps-trisystems.html" >Кэмпы</a></div>
        <div class='t396__elem tn-elem tn-elem__7249364231711381829369' data-elem-id='1711381829369' data-elem-type='button' data-field-top-value="296" data-field-left-value="20" data-field-height-value="31" data-field-width-value="95" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="503" data-field-left-res-320-value="127" data-field-top-res-480-value="451" data-field-left-res-480-value="206" data-field-height-res-480-value="20" data-field-width-res-480-value="67" data-field-top-res-640-value="233" data-field-left-res-640-value="12" data-field-height-res-640-value="22" data-field-width-res-640-value="43" data-field-top-res-960-value="299" data-field-left-res-960-value="-8" data-field-height-res-960-value="23" data-field-width-res-960-value="60"
        ><a class='tn-atom' href="articles.html" >Статьи</a></div>
        <div class='t396__elem tn-elem tn-elem__7249364231711386862493' data-elem-id='1711386862493' data-elem-type='button' data-field-top-value="327" data-field-left-value="20" data-field-height-value="31" data-field-width-value="80" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-field-top-res-320-value="535" data-field-left-res-320-value="127" data-field-top-res-480-value="525" data-field-left-res-480-value="206" data-field-height-res-480-value="20" data-field-width-res-480-value="67" data-field-top-res-640-value="259" data-field-left-res-640-value="12" data-field-height-res-640-value="20" data-field-width-res-640-value="32" data-field-top-res-960-value="330" data-field-left-res-960-value="-8" data-field-height-res-960-value="22" data-field-width-res-960-value="47"
        ><a class='tn-atom' href="/" >Вход</a></div>
        </div>
        </div>
        <script>t_onReady(function () {
        t_onFuncLoad('t396_init', function () {
        t396_init('724936423');
        });
        });
        </script><!-- /T396 -->
        </div>
        </footer> *@
        <!--/footer-->
    </div>
    <!--/allrecords--><!-- Stat --><!-- Yandex.Metrika counter 70863205 -->
    <script type="text/javascript" data-tilda-cookie-type="analytics">setTimeout(function () { (function (m, e, t, r, i, k, a) { m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) }; m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a) })(window, document, "script", "../mc.yandex.ru/metrika/tag.js", "ym"); window.mainMetrikaId = '70863205'; ym(window.mainMetrikaId, "init", { clickmap: true, trackLinks: true, accurateTrackBounce: true, webvisor: true, ecommerce: "dataLayer" }); }, 2000);</script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/70863205" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
    <script type="text/javascript">
        if (!window.mainTracker) { window.mainTracker = 'tilda'; }
        setTimeout(function () {
            (function (d, w, k, o, g) { var n = d.getElementsByTagName(o)[0], s = d.createElement(o), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.key = k; s.id = "tildastatscript"; s.src = g; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, '8763a9bad806c5a73eaffa7e829dcdbe', 'script', '~/projecss/static.tildacdn.com/js/tilda-stat-1.0.min.js');
        }, 2000);
    </script><!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MRCMTJZ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) --><!-- FB Pixel code (noscript) -->
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=697085437621590&amp;ev=PageView&amp;agent=pltilda&amp;noscript=1" /></noscript>
    <!-- End FB Pixel code (noscript) --><!-- VK Pixel code (noscript) -->
    <noscript><img src="https://vk.com/rtrg?p=VK-RTRG-833158-8v84w" style="position:fixed; left:-999px;" alt="" /></noscript>
    <!-- jQuery and Bootstrap JS (add these at the bottom of your HTML before the closing body tag) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-8z1Kg5S2e5s85C1sMc5kYYp1kWVjRVJ+0PQTE2n6G/W3ZdK4G5unCAVbcJ5ak+Q1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>




    <script>
        // Navbar toggler button click event
        $('.navbar-toggler').on('click', function () {
            $('.navbar-collapse').toggleClass('show');
        });
    </script>
    <!-- End VK Pixel code (noscript) -->
</body>
<!-- Mirrored from trisystems.ru/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Jun 2024 11:51:01 GMT -->
</html>
